@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Variables
$primary: #6528f7;
$primary-90: #743df7;
$primary-80: #8352f8;
$primary-70: #9368f9;
$primary-60: #a27efa;
$primary-50: #b293fb;
$primary-40: #c1a9fb;
$primary-30: #d0befc;
$primary-20: #e0d4fd;
$primary-10: #efe9fe;
$secondary: #0c96f8;
$secondary-90: #24a0f8;
$secondary-80: #3cabf9;
$secondary-70: #54b5fa;
$secondary-60: #6dc0fa;
$secondary-50: #85cafb;
$secondary-40: #9dd5fc;
$secondary-30: #b6dffc;
$secondary-20: #ceeafd;
$secondary-10: #e6f4fe;
$tertiary: #b93160;
$tertiary-90: #c0456f;
$tertiary-80: #c75a7f;
$tertiary-70: #ce6e8f;
$tertiary-60: #d5839f;
$tertiary-50: #dc98af;
$tertiary-40: #e3acbf;
$tertiary-30: #eac1cf;
$tertiary-20: #f1d5df;
$tertiary-10: #f8eaef;
$alert: #e15554;
$alert-90: #e46665;
$alert-80: #e77676;
$alert-70: #ea8887;
$alert-60: #ed9998;
$alert-50: #f0aaa9;
$alert-40: #f3bbba;
$alert-30: #f6cccb;
$alert-20: #f9dddc;
$alert-10: #fceeed;
$warning: #e1bc29;
$warning-90: #e4c23e;
$warning-80: #e7c953;
$warning-70: #ead069;
$warning-60: #edd67e;
$warning-50: #f0dd94;
$warning-40: #f3e4a9;
$warning-30: #f6eabe;
$warning-20: #f9f1d4;
$warning-10: #fcf8e9;
$success: #3bb273;
$success-90: #4eb981;
$success-80: #62c18f;
$success-70: #75c99d;
$success-60: #89d0ab;
$success-50: #9dd8b9;
$success-40: #b0e0c7;
$success-30: #c4e7d5;
$success-20: #d7efe3;
$success-10: #ebf7f1;
$text-color: #1f1f1f;
$black-90: #353535;
$black-80: #4b4b4b;
$black-70: #626262;
$black-60: #787878;
$black-50: #8f8f8f;
$black-40: #a5a5a5;
$black-30: #bbb;
$black-20: #d2d2d2;
$black-10: #e8e8e8;
$background-color: #f1f5f9;
$background-color-dark: #171521;
$white: #ffffff;
$background-color-secondary: #fff;
$special-color-100: #00d6ef;
$special-color: #a1f5ff;
$ranking-battle: #f615a5;
$ranking-battle-10: #fee5f5;
$how-would: #fc3a00;
$how-would-10: #ffeee8;
$center-distribution: #1426ff;
$center-distribution-10: #e7e9ff;
$header-background: #1b1829;
$hugepro: #673ab7;
$hugepro-10: #e1d7f2;
$nostalgic-vibes: #034283;
$nostalgic-vibes-10: #e5ecf2;
$youtube-comment: #ff0000;
$youtube-comment-10: #ffe5e5;

// Typography String, And Number
$main-font: "Poppins", sans-serif;
$secondary-font: "Inter", sans-serif;
$sidebar-size: 250px;

// List
$projects-colors: "huge-pro-vol1" $hugepro $hugepro-10,
    "nostalgic-vibes" $nostalgic-vibes $nostalgic-vibes-10,
    "youtube-comment" $youtube-comment $youtube-comment-10,
    "non-project" $special-color-100 $special-color;

$status-colors: "default" $primary $primary-10, "completed" $success $success-10,
    "onprocess" $secondary $secondary-10, "pending" $warning $warning-10,
    "rejected" $alert $alert-10;

$theme-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "success": $success,
    "warning": $warning,
    "alert": $alert,
    "black": $text-color,
);

// Map
$text-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "tertiary": $tertiary,
    "100": $text-color,
    "80": $black-80,
    "ad": $alert,
    "ae": $secondary,
    "cd": $center-distribution,
    "hw": $how-would,
    "hs": $success,
    "ld": $primary,
    "le": $tertiary,
    "rb": $ranking-battle,
);

$bg-colors: (
    "main": $primary,
    "main-20": $primary-20,
    "second": $secondary,
    "second-20": $secondary-20,
    "hugepro-vol1": $hugepro,
    "hugepro-vol1-10": $hugepro-10,
    "nv": $nostalgic-vibes,
    "nv-10": $nostalgic-vibes-10,
    "you-com": $youtube-comment,
    "you-com-10": $youtube-comment-10,
    "non-pro": $special-color-100,
    "non-pro-10": $special-color,
    "success-10": $success-10,
);

$spaces: (
    "0": 0,
    "5": 5px,
    "10": 10px,
    "15": 15px,
    "25": 25px,
    "30": 30px,
    "50": 50px,
    "80": 80px,
    "100": 100px,
);

$padding-spaces: (
    "5": 5px,
    "10": 10px,
    "15": 15px,
    "25": 25px,
    "30": 30px,
);

$font-sizes: (
    "48": 48px,
    "36": 36px,
    "24": 24px,
    "18": 18px,
    "16": 16px,
    "14": 14px,
    "12": 12px,
    "10": 10px,
);

// Mixin
@mixin button-status($color, $bg-color) {
    background-color: $bg-color;
    color: $color;
    font-weight: 600;
    font-size: map-get($map: $font-sizes, $key: "12");
    border-radius: map-get($map: $spaces, $key: "5");
    width: map-get($map: $spaces, $key: "100");
    cursor: default;
}

@mixin button($text-color, $bg-color) {
    padding: 8px 10px;
    font-weight: 600;
    font-size: map-get($map: $font-sizes, $key: "14");
    color: $text-color;
    background-color: $bg-color;
    border-radius: map-get($map: $spaces, $key: "5");
}

@mixin border-button($text-color, $border-color) {
    padding: 8px 10px;
    font-weight: 600;
    font-size: map-get($map: $font-sizes, $key: "14");
    color: $text-color;
    background-color: transparent;
    border-radius: map-get($map: $spaces, $key: "5");
    border: 1px solid $border-color;
}

/* Blok Text Selection */

::-moz-selection {
    /* Code for Firefox */
    color: $white;
    background: $primary;
}

::selection {
    color: $white;
    background: $primary;
}

/* End of Blok Text Selection */

/* Layout - Main */

body {
    overflow-x: hidden;

    &.body-light {
        background-color: $background-color;
    }

    &.body-dark {
        background-color: $background-color-dark;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $main-font;
    text-decoration: none;
    list-style-type: none;
}

.body-label {
    position: fixed;
    height: 100%;
    width: calc(100% - $sidebar-size);
    z-index: 30;
    right: -100%;
    top: 0;
}

#sidebar-toggle {
    display: none;
}

#sidebar-toggle:checked ~ .sidebar {
    left: -100%;
}

#sidebar-toggle:checked ~ header {
    left: 0;
    width: 100%;
    right: 0;
}

#sidebar-toggle:checked ~ .main-content {
    margin-left: 0;
}

/* Penutup Layout - Main */

/* Component */

// Margin
@each $margin, $size in $spaces {
    .m-bottom-#{$margin} {
        margin-bottom: $size;
    }

    .m-top-#{$margin} {
        margin-top: $size;
    }

    .m-left-#{$margin} {
        margin-left: $size;
    }

    .m-right-#{$margin} {
        margin-right: $size;
    }
}

/* Padding */
@each $padding, $size in $padding-spaces {
    .p-#{$padding} {
        padding: $size;
    }
}

/* Font Size */
@each $namesize, $size in $font-sizes {
    .fs-#{$namesize} {
        font-size: $size;
    }
}

@each $namesize, $size in $font-sizes {
    .fs-inter-#{$namesize} {
        font-family: $secondary-font;
        font-size: $size;
    }
}

/* Text Color */
@each $category, $color in $text-colors {
    .text-color-#{$category} {
        color: $color !important;
    }
}

/* Background  Color */
// @each $type, $color, $tint-10 in $projects-colors {
//     .bg-#{$type} {
//         color: $color;
//         background-color: $tint-10;
//     }
// }

@each $type, $color in $bg-colors {
    .bg-#{$type} {
        background-color: $color;
    }
}

.bg-alert-10 {
    background-color: $alert-10;
}

// Border Radius
@each $radius, $size in $padding-spaces {
    .border-radius-#{$radius} {
        border-radius: $size;
    }
}

// Button

@each $status, $color, $color-10 in $status-colors {
    .btn-#{$status},
    .btn-#{$status}:hover {
        @include button-status($color, $color-10);
    }
}

@each $theme, $color in $theme-colors {
    .btn-#{$theme}-color {
        @include button($white, $color);

        &:hover {
            background-color: $color;
            color: $white;
        }
    }
}

.btn-light-border {
    @include border-button($text-color, $black-40);

    &:hover {
        border-color: $black-40;
        color: $text-color;
    }
}

/* Penutup Component */

/* Modified Boostrap Style */

.dis {
    cursor: not-allowed;
    opacity: 0.5;
}

.dis:hover {
    color: $primary;
    border: solid 1px $primary;
    background-color: transparent;
}

input::placeholder,
textarea::placeholder,
option {
    color: $black-80;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

select option:checked,
select option:hover {
    // box-shadow: 0 0 10px 100px $primary inset;
    background-color: $primary;
    color: $white;
}

input.form-control,
select.form-select,
textarea.form-control {
    font-size: 14px;
    font-weight: 400;
    color: $text-color;
    caret-color: $primary;
    padding: 12px 10px;
    border-radius: 5px;
    border: 1px solid $black-90;
}

.form-control:focus,
.form-select:focus {
    border-color: $primary;
    box-shadow: 0px 0px 5px 2px rgba(101, 40, 247, 0.26);
}

.form-text {
    font-family: $secondary-font;
    margin: 5px 0 0 0;
    color: $black-90;
}

.is-invalid {
    background-color: $alert-10;
}

.invalid-feedback {
    margin: 5px 0 0 0;
}

/* End of Modified Boostrap Style */

/* Sidebar */

nav {
    &.sidebar {
        background-color: $background-color-dark;
        width: $sidebar-size;
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        padding: 25px;
        color: $white;
        transition: left 300ms;
        overflow-y: auto;
    }

    &.sidebar::-webkit-scrollbar {
        width: 7px;
    }

    &.sidebar::-webkit-scrollbar-thumb {
        background: $black-30;
        border-radius: 20px;
    }

    &.sidebar a {
        color: $white;
        text-decoration: none;
        font-weight: 700;
        font-size: 18px;
    }

    &.sidebar ul {
        margin-bottom: 1.5rem;
    }

    .sidebar-brand {
        & {
            height: 70px;
        }

        .brand-flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-weight: 700;
        }
    }

    .sidebar-main {
        .sidebar-user {
            & {
                margin: 0rem 0rem 1rem 0rem;
                text-align: center;
            }

            img {
                max-width: 80px;
                max-height: 80px;
                border-radius: 50%;
                border: 2px solid #efefef;
            }

            .user-name {
                background-color: $black-80;
                width: fit-content;
                margin: auto;
                padding: 5px 10px;
            }
        }

        .sidebar-menu {
            .menu-head {
                color: $background-color;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 15px;
            }

            & {
                margin-top: calc(2rem - 2px);
            }

            a {
                text-decoration: none;
            }

            ul {
                padding: 0;
            }

            li {
                & {
                    margin-bottom: 10px;
                }

                a,
                button {
                    color: #dadada;
                    font-size: 14px;
                    font-weight: 500;
                    display: flex;
                    align-items: center;
                }

                a:hover,
                button:hover {
                    color: $white;
                    display: flex;
                    align-items: center;
                }

                a.text-active {
                    color: $primary-20;
                    display: flex;
                    align-items: center;
                }

                a,
                button {
                    i {
                        font-size: 1.5rem;
                        display: inline-block;
                        margin-right: 0.8rem;
                    }
                }
            }

            ul {
                & {
                    margin-bottom: 30px;
                }

                .logo-active {
                    color: $primary-20;
                }
            }
        }
    }
}

/* Penutup Sidebar */

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 70px;
    width: calc(100% - $sidebar-size);
    padding: 25px;
    left: $sidebar-size;
    top: 0;
    z-index: 10;
    background: $background-color-secondary;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 300ms;

    .menu-toggle {
        label {
            display: grid;
            justify-content: center;
            width: 60px;
            height: 60px;
            font-size: 24px;
            border-radius: 50%;
        }

        label:hover {
            background: #efefef;
            height: 60px;
            width: 60px;
        }

        i {
            margin: auto;
            cursor: pointer;
        }
    }

    .header-icons {
        i {
            display: inline-block;
            margin-left: 0.7rem;
            font-size: 1.4rem;
            cursor: pointer;
            color: $text-color;

            &:hover {
                color: $primary;
                transition: 0.5s;
            }
        }
    }
}

/* Penutup Header */

/* Main Blade */
main {
    min-height: calc(100vh - 70px);
    margin-top: 100px;
}

.main-content {
    margin-left: $sidebar-size;
    transition: margin-left 300ms;
    padding: 25px;
}

/* Penutup Main Blade */

/* Index - Dashboard Analytics */

.card-analytics {
    background-color: $background-color-secondary;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    height: fit-content;
    min-height: min-content;
    max-height: max-content;
    border-radius: 5px;
}

.card-info {
    h2 {
        color: $text-color;
    }
}

.card-head {
    p.title-card {
        color: $text-color;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
    }

    p.number-title-card {
        font-weight: 500;
        font-size: 14px;
        color: $text-color;
    }

    p.description-card {
        color: $text-color;
        font-weight: 400;
        font-size: 14px;
    }
}

.card-icon {
    i {
        font-size: 80px;
    }
}

.analytics-card {
    background: $background-color-secondary;
    padding: 1.5rem;
    border-radius: 10px;

    .link-details a:hover {
        color: $primary;
    }

    .table {
        th {
            font-size: 14px;
            font-weight: 600;
        }

        td {
            font-size: 12px;
        }
    }
}

.upcoming-schedule-card {
    div,
    p {
        font-size: map-get($map: $font-sizes, $key: "14");
    }
}

/* Penutup Dashboard Analytics */

/* Dashboard Tabel Projects */
.table-container {
    background: $background-color-secondary;
    padding: map-get($map: $spaces, $key: "25");
    border-radius: 10px;
}

/* Dibawah 1125px */
@media only screen and (max-width: 1124px) {
    .sidebar {
        left: -100%;
        z-index: 30;
    }

    header {
        left: $sidebar-size;
        width: 100vw;
    }

    #sidebar-toggle:checked ~ .sidebar {
        left: -100%;
    }

    #sidebar-toggle:checked ~ .body-label {
        right: 0;
    }
}

/* Create Projects */
.form-container {
    background-color: $background-color-secondary;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #dee2e6;
}
/* End of Create Projects */

/* Artists Dashboard */
.img-avatar {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.img-artist {
    aspect-ratio: 1 / 1; /* defining the aspect ratio of the image */
    object-fit: cover; /* making sure the image isn't distorted */
    border-radius: 15px;
}

/* Tablet and Phone */
@media only screen and (max-width: 576px) {
    .fs-sm-12 {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    nav.sidebar {
        left: -100%;
    }

    .main-content {
        margin-left: 0;
        padding: 0;
    }

    header {
        left: 0;
        padding: 16px;
    }

    #sidebar-toggle:checked ~ .sidebar {
        left: 0;
    }

    /* Create Projects */
    .form-container {
        padding: 20px;
    }
    /* End of Create Projects */
}
