// Variables
$primary: #6528f7;
$primary-90: #743df7;
$primary-80: #8352f8;
$primary-70: #9368f9;
$primary-60: #a27efa;
$primary-50: #b293fb;
$primary-40: #c1a9fb;
$primary-30: #d0befc;
$primary-20: #e0d4fd;
$primary-10: #efe9fe;
$secondary: #0c96f8;
$secondary-90: #24a0f8;
$secondary-80: #3cabf9;
$secondary-70: #54b5fa;
$secondary-60: #6dc0fa;
$secondary-50: #85cafb;
$secondary-40: #9dd5fc;
$secondary-30: #b6dffc;
$secondary-20: #ceeafd;
$secondary-10: #e6f4fe;
$tertiary: #e60452;
$tertiary-90: #e81d63;
$tertiary-80: #eb3674;
$tertiary-70: #ed4f85;
$tertiary-60: #f06897;
$tertiary-50: #f281a8;
$tertiary-40: #f59ab9;
$tertiary-30: #f7b3cb;
$tertiary-20: #faccdc;
$tertiary-10: #fce5ed;
$text-color: #1f1f1f;
$text-color-90: #353535;
$text-color-80: #4b4b4b;
$text-color-70: #626262;
$text-color-60: #787878;
$text-color-50: #8f8f8f;
$text-color-40: #a5a5a5;
$text-color-30: #bbb;
$text-color-20: #d2d2d2;
$text-color-10: #e8e8e8;
$white: #ffffff;
$background-color: #f1f5f9;
$background-color-secondary: #fff;
$ranking-battle-100: #f615a5;
$ranking-battle-10: #fee5f5;
$how-would-100: #fc3a00;
$how-would-10: #ffeee8;
$center-distribution-100: #1426ff;
$center-distribution-10: #e7e9ff;
$hugepro: #673ab7;
$hugepro-10: #e1d7f2;
$nostalgic-vibes: #034283;
$nostalgic-vibes-10: #e5ecf2;
$youtube-comment: #ff0000;
$youtube-comment-10: #ffe5e5;
$non-project-100: #07769d;
$non-project-10: #bcecfb;
$success: #d1e7dd;
$success-10: #a3cfbb;
$warning: #ffc107;
$warning-10: #fff3cd;
$alert: #dc3545;
$alert-10: #f8d7da;
$background-color-dark: #191427;

// Typography String, And Number
$main-font: "Poppins", "Noto Sans KR", "Noto Sans JP", sans-serif;
$secondary-font: "Inter", "Noto Sans KR", "Noto Sans JP", sans-serif;
$sidebar-size: 250px;
