@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary: #6528f7;
    --primary-90: #743df7;
    --primary-80: #8352f8;
    --primary-70: #9368f9;
    --primary-60: #a27efa;
    --primary-50: #b293fb;
    --primary-40: #c1a9fb;
    --primary-30: #d0befc;
    --primary-20: #e0d4fd;
    --primary-10: #efe9fe;
    --secondary: #0c96f8;
    --secondary-90: #24a0f8;
    --secondary-80: #3cabf9;
    --secondary-70: #54b5fa;
    --secondary-60: #6dc0fa;
    --secondary-50: #85cafb;
    --secondary-40: #9dd5fc;
    --secondary-30: #b6dffc;
    --secondary-20: #ceeafd;
    --secondary-10: #e6f4fe;
    --tertiary: #b93160;
    --tertiary-90: #c0456f;
    --tertiary-80: #c75a7f;
    --tertiary-70: #ce6e8f;
    --tertiary-60: #d5839f;
    --tertiary-50: #dc98af;
    --tertiary-40: #e3acbf;
    --tertiary-30: #eac1cf;
    --tertiary-20: #f1d5df;
    --tertiary-10: #f8eaef;
    --alert: #e15554;
    --alert-90: #e46665;
    --alert-80: #e77676;
    --alert-70: #ea8887;
    --alert-60: #ed9998;
    --alert-50: #f0aaa9;
    --alert-40: #f3bbba;
    --alert-30: #f6cccb;
    --alert-20: #f9dddc;
    --alert-10: #fceeed;
    --warning: #e1bc29;
    --warning-90: #e4c23e;
    --warning-80: #e7c953;
    --warning-70: #ead069;
    --warning-60: #edd67e;
    --warning-50: #f0dd94;
    --warning-40: #f3e4a9;
    --warning-30: #f6eabe;
    --warning-20: #f9f1d4;
    --warning-10: #fcf8e9;
    --success: #3bb273;
    --success-90: #4eb981;
    --success-80: #62c18f;
    --success-70: #75c99d;
    --success-60: #89d0ab;
    --success-50: #9dd8b9;
    --success-40: #b0e0c7;
    --success-30: #c4e7d5;
    --success-20: #d7efe3;
    --success-10: #ebf7f1;
    --text-color: #1f1f1f;
    --black-90: #353535;
    --black-80: #4b4b4b;
    --black-70: #626262;
    --black-60: #787878;
    --black-50: #8f8f8f;
    --black-40: #a5a5a5;
    --black-30: #bbb;
    --black-20: #d2d2d2;
    --black-10: #e8e8e8;
    --background-color: #f1f5f9;
    /* --background-color-dark: #2a2438; */
    --white: #ffffff;
    --background-color-secondary: #fff;
    --special-color: #a1f5ff;
    --main-font: "Poppins", sans-serif;
}
/* Add data-theme="dark" into body html */
/* [data-theme="dark"] {
    --background-color: #2a2438;
    --text-color: #ffffff;
    --background-color-secondary: var(--black-30);
} */

::-moz-selection {
    /* Code for Firefox */
    color: var(--white);
    background: var(--primary);
}

::selection {
    color: var(--white);
    background: var(--primary);
}

body {
    font-family: "Poppins", sans-serif;
}

/* Heading */
h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    font-weight: 700;
}

/* Penutup Heading */

/* Typography */

/* Text Color */
.text-black-90 {
    color: var(--black-90);
}

/* Poppins */
.text-sb-18 {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}

.text-mdm-14 {
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
}

.text-sb-14 {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color);
}

.text-regular-14 {
    font-size: 14px;
    font-weight: 400;
}

/* Inter */
.inter-regular-14 {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: var(--black-80);
    margin: 0px;
}

.inter-medium-18 {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--black-90);
}

.text-color-tertiary {
    color: var(--tertiary);
}

/* Penutup Typography */

/* Margin Custom */
.m-vertical-10 {
    margin: 10px 0;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-30 {
    margin-top: 30px;
}

.mr-15 {
    margin-right: 15px;
}

.py-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}

.body-light {
    background-color: var(--background-color);
}

.bg-color-secondary {
    background-color: var(--background-color-secondary);
}

/* Box icon extra large manual */
.bx-xlg {
    font-size: 72px;
    color: var(--black-80);
}

/* Navbar */

.logo-navbar {
    font-weight: 700;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 10px;
}

.navbar-nav li a {
    font-weight: 500;
    font-size: 18px;
}

#navbarNav li a.active {
    color: var(--primary);
    font-weight: 600;
}

.navbar a {
    color: var(--text-color);
}

.nav-item a:hover {
    color: var(--primary);
}

/* Penutup Navbar */

/* Home */

#hero-landing-page {
    margin: 152px 0;
}

.hero-welcome {
    font-weight: 600;
    letter-spacing: 0.19em;
}

.hero-welcome p {
    font-weight: 700;
}

.hero-h2 {
    font-style: normal;
    font-weight: 500;
    margin: 25px 0;
}

.welcome-text {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    color: var(--black-80);
}

.btn-main {
    margin-top: 30px;
    background-color: var(--primary-90);
    padding: 15px 61px;
    font-weight: 700;
    color: var(--white);
    transition: all 0.5s ease-in;
}

.btn-main:hover {
    background-color: var(--primary);
    color: var(--white);
}

#socmed-landing-page,
#our-content-lp,
#upcoming-schedule-lp {
    margin: 100px 0;
}

.socmed-home-text {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.25em;
}

#socmed-landing-page a {
    text-decoration: none;
    color: var(--text-color);
}

.content-card-lp {
    border-radius: 5px;
    border: 1px solid var(--black-30);
    background: var(--background-color);
    padding: 15px;
}

.upcoming-schedule-card-lp {
    border-radius: 5px;
    border: 1px solid var(--black-30);
    background: var(--background-color);
    padding: 15px;
}

.link-show-all-lp:hover {
    color: var(--primary);
}

#upcoming-display-mobile {
    display: none;
}

/* Penutup Home */

/* Footer */

/* Penutup Footer */
#footer {
    margin-top: 100px;
    background-color: var(--primary-10);
}

#footer ul {
    list-style: none;
    padding: 0;
}

#footer ul li a {
    color: var(--black-80);
}
/* Projects */

.project-header {
    margin-top: 125px;
    margin-bottom: 30px;
}

.project-header h1 {
    font-weight: 700;
    font-size: 48px;
}

.project-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
}

.project-section {
    background-color: var(--white);
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.project-section h3 {
    font-weight: 600;
}

.project-section p {
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

.projects-table th,
.req-list-table th {
    font-weight: 500;
    font-size: 14px;
}

.projects-table td {
    font-size: 14px;
}

.bg-second {
    background-color: var(--secondary);
}

.btn-onprocess {
    background-color: var(--secondary-10);
    font-weight: 600;
    font-size: 12px;
    color: var(--secondary);
    border-radius: 5px;
    width: 100px;
}

.btn-default {
    background-color: var(--primary-10);
    font-weight: 600;
    font-size: 12px;
    color: var(--primary);
    border-radius: 5px;
    width: 100px;
}

.btn-complete {
    background-color: var(--success-10);
    font-weight: 600;
    font-size: 12px;
    color: var(--success);
    border-radius: 5px;
    width: 100px;
}

.btn-pending {
    background-color: var(--warning-10);
    font-weight: 600;
    font-size: 12px;
    color: var(--warning);
    border-radius: 5px;
    width: 100px;
}

.btn-rejected {
    background-color: var(--alert-10);
    font-weight: 600;
    font-size: 12px;
    color: var(--alert);
    border-radius: 5px;
    width: 100px;
}

.btn-outline-main {
    color: var(--primary);
    font-weight: 600;
    border: solid 1px var(--primary);
}

.btn-outline-main:hover {
    background-color: var(--primary);
    color: white;
}

.btn-rejected:hover {
    color: var(--alert);
    cursor: default;
}

.btn-pending:hover {
    color: var(--warning);
    cursor: default;
}

.btn-complete:hover {
    color: var(--success);
    cursor: default;
}

.btn-default:hover {
    color: var(--primary);
    cursor: default;
}

.btn-onprocess:hover {
    color: var(--secondary);
    cursor: default;
}

.projects-section-href a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: var(--text-color);
}

.projects-section-href a:hover {
    color: var(--primary);
}

.project-section a {
    text-decoration: none;
    color: var(--primary-80);
}

.project-section a:hover {
    color: var(--primary);
}

/* Huge Project Vol.#01 */

.btn-huge-project-vol1 {
    border: 1px solid #673ab7;
    color: #673ab7;
    font-weight: 700;
}

.btn-huge-project-vol1:hover {
    color: #673ab7;
}

.space-navbar {
    margin-top: 100px;
    margin-bottom: 30px;
}

.breadcrumb a {
    text-decoration: none;
    color: var(--black-80);
}

.breadcrumb a:hover {
    color: var(--primary);
}

.breadcumb-active {
    color: var(--text-color);
    font-weight: 500;
}

#huge-project-vol1 {
    scroll-behavior: smooth;
    scroll-margin: 90px;
}

.huge-pro-hero {
    background-color: #e1d7f2;
    border-radius: 5px;
    margin: 0 0 30px 0;
    padding: 25px 13px;
}

.huge-pro-hero h2 {
    font-weight: 700;
    font-size: 36px;
    color: #673ab7;
}

.huge-pro-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #673ab7;
}

.nv-pro-hero {
    background-image: url("../img/nv_cover_grad.png");
    background-size: cover;
    border-radius: 5px;
    background-position: 0px -165px;
    min-height: 300px;
    margin: 0 0 30px 0;
    padding: 25px 13px;
}

.nv-pro-hero h2 {
    font-weight: 700;
    font-size: 36px;
    color: var(--white);
}

.nv-pro-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--white);
}

.btn-nv-project {
    border: 1px solid var(--white);
    color: var(--white);
    font-weight: 700;
}

.btn-nv-project:hover {
    color: var(--white);
}

.yt-pro-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #ff0000;
}

.yt-pro-hero {
    background-color: #ffd8d8;
    border-radius: 5px;
    margin: 0 0 30px 0;
    padding: 25px 13px;
}

.yt-pro-hero h2 {
    font-weight: 700;
    font-size: 36px;
    color: #ff0000;
}

.btn-yt-project {
    border: 1px solid #ff0000;
    color: #ff0000;
    font-weight: 700;
}

.btn-yt-project:hover {
    color: #ff0000;
}

.non-pro-hero {
    background-color: var(--black-10);
    border: 1px solid var(--background-color-dark);
    border-radius: 5px;
    margin: 0 0 30px 0;
    padding: 25px 13px;
}

.non-pro-text {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--black-80);
}

.non-pro-hero h2 {
    font-weight: 700;
    font-size: 36px;
    color: var(--text-color);
}

.btn-non-project {
    border: 1px solid var(--text-color);
    color: var(--text-color);
    font-weight: 700;
}

.btn-non-project:hover {
    color: var(--text-color);
}

/* Penutup Projects */

/* Request List */

.req-list-section {
    background-color: var(--white);
    padding: 25px;
    border-radius: 5px;
    margin-bottom: 30px;
}

.req-list-header {
    margin-top: 125px;
    margin-bottom: 30px;
}

.req-list-header h1 {
    font-size: 48px;
    font-weight: 700;
}

.req-list-section h2 {
    font-size: 36px;
    font-weight: 600;
}

.req-list-section h3 {
    font-size: 24px;
    font-weight: 600;
}

.req-list-table td {
    font-size: 12px;
}

.card-analytics-project {
    background: var(--white);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 1rem;
    height: 200px;
}

.card-info h2 {
    margin-top: 5px;
    font-size: 36px;
    color: var(--text-color);
}

.card-head span {
    display: block;
    text-transform: uppercase;
    color: var(--black-80);
    font-size: 16px;
}

.card-head small {
    font-weight: 600;
    color: var(--black-80);
}

.card-logo i {
    font-size: 5rem;
}

.dis {
    cursor: not-allowed;
    opacity: 0.5;
}

.dis:hover {
    color: var(--primary);
    border: solid 1px var(--primary);
    background-color: transparent;
}

.no-data-val {
    font-weight: 500;
}

.req-list-section .nav-link {
    color: var(--black-80);
}

.req-list-section .nav-link:hover {
    color: var(--primary);
}

.req-list-section .nav-item button.active {
    color: var(--primary);
}

.pagination > li.active > span {
    background-color: var(--primary);
    color: var(--white);
    border: var(--primary);
}

.pagination > li.page-item > a {
    color: var(--primary);
}

/* Penutup Request List */

/* Gallery */

.search-form {
    padding-left: 2.3rem;
}

.search-icon-pos .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.3rem;
    height: 2.3;
    line-height: 2.3rem;
    text-align: center;
    pointer-events: none;
    color: var(--black-80);
}

.form-control {
    caret-color: var(--primary);
}

.form-control:focus {
    border-color: var(--primary);
}

.icon-transform {
    transform: scaleX(-1);
    font-size: 18px;
}

.gallery-section {
    margin-top: 125px;
    margin-bottom: 25px;
}

.gallery-section h1 {
    font-size: 48px;
    font-weight: 700;
}

.gallery-cards-head h3 {
    font-weight: 600;
}

.gallery-cards-head {
    margin-bottom: 10px;
}

.gallery-cards-head span {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.gallery-cards-head a {
    text-decoration: none;
    color: var(--text-color);
}

.gallery-cards-head a:hover {
    color: var(--primary);
}

.gallery-card {
    border-radius: 5px;
    background-color: var(--white);
    padding: 15px;
}

.gallery-card i {
    font-size: 3.5rem;
    margin: 0;
    padding: 0;
}

.gallery-card h5 {
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    margin-bottom: 5px;
}

.gallery-card p {
    font-size: 14px;
    font-weight: 700;
}

.space-card {
    margin: 15px 0 0 10px;
}

.artist-card p {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 5px 0 0 0;
}

.artist-card span {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.artist-card img.thumbnail,
.artist-card img.artist-image {
    opacity: 0.9;
    object-fit: cover;
}

.artist-card a:hover img {
    opacity: 1;
}

.artist-card a {
    color: var(--text-color);
    text-decoration: none;
}

.artist-card a:hover {
    color: var(--text-color);
}

.video-description-card {
    background-color: var(--white);
    border-radius: 10px;
}

.video-description-card p.category-text-video {
    font-size: 14px;
    font-weight: 700;
    color: #c93568;
    padding: 5px 10px;
}

.video-description-card h4 {
    padding: 0 10px;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.video-description-card span.pro-class-date {
    font-weight: 600;
    color: var(--black-80);
    padding: 0 0 0 10px;
}

.video-description-card img.fit-img {
    object-fit: cover;
    opacity: 1;
}

.pro-class-text:hover {
    color: #009eff;
}

.category-card a {
    text-decoration: none;
    color: var(--text-color);
}

.gallery-cards-head h2 {
    font-weight: 600;
    font-size: 36px;
}

.bg-black-80 {
    background-color: var(--black-80);
}

.text-black {
    color: var(--text-color);
}

/* Artist Page */
img.image-hero-artist {
    width: 415px;
    height: 415px;
    object-fit: cover;
    border-radius: 15px;
}

.text-about-artist {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color);
}

.heading-info-artist {
    font-size: 16px;
    font-weight: 600;
}

.text-info-artist {
    font-size: 16px;
    font-weight: 400;
}

.header-2 {
    font-size: 36px;
    font-weight: 700;
}

.space-navbar-artist {
    margin-top: 100px;
    margin-bottom: 30px;
}

.gallery-section-artist {
    margin-bottom: 25px;
}

.mini-badge {
    font-size: 10px;
    color: var(--white);
    background-color: var(--primary);
}

/* Penutup Gallery */

/* @media (max-width: 400px) {
} */

/* .hide {
    visibility: hidden;
    height: 0;
}

.show-visible {
    visibility: visible;
    height: max-content;
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
    /* Home */
    .hero-welcome {
        font-size: 36px;
        text-align: center;
        margin-top: 30px;
        letter-spacing: normal;
    }

    .hero-h2 {
        font-size: 24px;
        margin-top: 15px;
        text-align: center;
    }

    .welcome-text {
        text-align: center;
        font-size: 18px;
    }

    .mb-sm-30 {
        margin-bottom: 30px;
    }

    .header-table-upcoming {
        display: none;
    }

    .btn-onprocess {
        margin: 15px 0 5px 0;
    }

    /* Penutup Home */
}

/* Responsive untuk Mobile dan Tablet */
/* Medium devices (landscape tablets, 768px kebawah) */
@media only screen and (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
    .hero-welcome {
        text-align: center;
        margin-top: 30px;
    }

    .hero-h2,
    .welcome-text {
        text-align: center;
    }

    .btn-main {
        display: grid;
    }

    #upcoming-display-mobile {
        display: grid;
    }

    #upcoming-display-desktop {
        visibility: hidden;
        height: 0;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
