@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary: #6528f7;
    --primary-90: #743df7;
    --primary-80: #8352f8;
    --primary-70: #9368f9;
    --primary-60: #a27efa;
    --primary-50: #b293fb;
    --primary-40: #c1a9fb;
    --primary-30: #d0befc;
    --primary-20: #e0d4fd;
    --primary-10: #efe9fe;
    --secondary: #0c96f8;
    --secondary-90: #24a0f8;
    --secondary-80: #3cabf9;
    --secondary-70: #54b5fa;
    --secondary-60: #6dc0fa;
    --secondary-50: #85cafb;
    --secondary-40: #9dd5fc;
    --secondary-30: #b6dffc;
    --secondary-20: #ceeafd;
    --secondary-10: #e6f4fe;
    --tertiary: #e60452;
    --tertiary-90: #e81d63;
    --tertiary-80: #eb3674;
    --tertiary-70: #ed4f85;
    --tertiary-60: #f06897;
    --tertiary-50: #f281a8;
    --tertiary-40: #f59ab9;
    --tertiary-30: #f7b3cb;
    --tertiary-20: #faccdc;
    --tertiary-10: #fce5ed;
    --text-color: #1f1f1f;
    --text-color-90: #353535;
    --text-color-80: #4b4b4b;
    --text-color-70: #626262;
    --text-color-60: #787878;
    --text-color-50: #8f8f8f;
    --text-color-40: #a5a5a5;
    --text-color-30: #bbb;
    --text-color-20: #d2d2d2;
    --text-color-10: #e8e8e8;
    --white: #ffffff;
    --background-color: #f1f5f9;
    --background-color-secondary: #fff;
    --ranking-battle-100: #f615a5;
    --ranking-battle-10: #fee5f5;
    --how-would-100: #fc3a00;
    --how-would-10: #ffeee8;
    --center-distribution-100: #1426ff;
    --center-distribution-10: #e7e9ff;
    --hugepro: #673ab7;
    --hugepro-10: #e1d7f2;
    --nostalgic-vibes: #034283;
    --nostalgic-vibes-10: #e5ecf2;
    --youtube-comment: #ff0000;
    --youtube-comment-10: #ffe5e5;
    --non-project-100: #07769d;
    --non-project-10: #bcecfb;
    --main-font: "Poppins", sans-serif;
    --secondary-font: "Inter", sans-serif;
}

/* Dark Mode
/* TODO: Add data-theme="dark" into body html */
[data-theme="dark"] {
    --primary: #9b85ff;
    --primary-90: #8c78e6;
    --primary-80: #7c6acc;
    --primary-70: #6d5db3;
    --primary-60: #5d5099;
    --primary-50: #4e4380;
    --primary-40: #3e3566;
    --primary-30: #2e284c;
    --primary-20: #1f1b33;
    --primary-10: #0f0d19;
    --secondary: #55b6fa;
    --secondary-90: #4da4e1;
    --secondary-80: #4492c8;
    --secondary-70: #3b7faf;
    --secondary-60: #336d96;
    --secondary-50: #2b5b7d;
    --secondary-40: #224964;
    --secondary-30: #19374b;
    --secondary-20: #112432;
    --secondary-10: #081219;
    --tertiary: #ee4f86;
    --tertiary-90: #d64779;
    --tertiary-80: #be3f6b;
    --tertiary-70: #a7375e;
    --tertiary-60: #8f2f50;
    --tertiary-50: #772843;
    --tertiary-40: #5f2036;
    --tertiary-30: #471828;
    --tertiary-20: #30101b;
    --tertiary-10: #18080d;
    --text-color: #fff;
    --text-color-80: #e6e6e6;
    --text-color-70: #b3b3b3;
    --text-color-50: #7f7f7f;
    --background-color: #191427;
    --background-color-secondary: #2b2538;
    --ranking-battle-100: #f95bc0;
    --ranking-battle-10: #4b1b3a;
    --how-would-10: #651700;
    --center-distribution-100: #727dff;
    --center-distribution-10: #2e3266;
}

/* Blok Text Selection */
::-moz-selection {
    /* Code for Firefox */
    color: var(--white);
    background: var(--primary);
}

::selection {
    color: var(--white);
    background: var(--primary);
}

/* End of Blok Text Selection */

body {
    font-family: var(--main-font);
}

/* Heading */
h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 14px;
}

h6 {
    font-size: 12px;
}

/* Penutup Heading */

/* Margin Custom */
.my-10 {
    margin: 10px 0;
}

/* Margin Top */

.mt-30 {
    margin-top: 30px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-10 {
    margin-top: 10px;
}

/* Margin Bottom */
.mb-50 {
    margin-bottom: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb5 {
    margin-bottom: 5px;
}

/* Margin Right */
.mr-10 {
    margin-right: 10px;
}

.mr-15 {
    margin-right: 15px;
}

/* Margin Left */
.ml-10 {
    margin-left: 10px;
}
/* End of Margin */

/* Padding */

.py-footer {
    padding-top: 80px;
    padding-bottom: 80px;
}

.p-25 {
    padding: 25px;
}

/* End of Padding */

/* Typography and Sizes */

/* Box icon extra large manual */
.fs-72 {
    font-size: 72px;
}

.fs-18 {
    font-size: 18px;
}

.fs-16 {
    font-size: 16px;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-12 {
    font-size: 12px;
}

.fs-10 {
    font-size: 10px;
}

/* Inter */
.font-inter {
    font-family: var(--secondary-font);
}

/* Text Color */
.text-color-primary {
    color: var(--primary);
}

.text-color-secondary {
    color: var(--secondary);
}

.text-color-tertiary {
    color: var(--tertiary);
}

.text-color-100,
td.text-color-100 {
    color: var(--text-color);
}

.text-color-90 {
    color: var(--text-color-90);
}

.text-color-80 {
    color: var(--text-color-80);
}

.text-color-50 {
    color: var(--text-color-50);
}

.text-color-success {
    color: var(--bs-success);
}

.text-color-warning {
    color: var(--bs-warning);
}

.text-color-alert {
    color: var(--bs-danger);
}

.text-color-ld,
table td.text-color-ld {
    color: var(--primary);
}

table td.text-color-le,
.text-color-le {
    color: var(--tertiary);
}

table td.text-color-ad,
.text-color-ad {
    color: var(--bs-danger);
}

table td.text-color-ae,
.text-color-ae {
    color: var(--secondary);
}

table td.text-color-rb,
.text-color-rb {
    color: var(--ranking-battle-100);
}

table td.text-color-hs,
.text-color-hs {
    color: var(--bs-success);
}

table td.text-color-hw,
.text-color-hw {
    color: var(--how-would-100);
}

table td.text-color-cd,
.text-color-cd {
    color: var(--center-distribution-100);
}

/* End of Text Color */

/* Background Color */
.bg-color-light {
    background-color: var(--background-color);
}

.bg-main {
    background-color: var(--primary);
}

.bg-main-20 {
    background-color: var(--primary-20);
}

.bg-main-10 {
    background-color: var(--primary-10);
}

.bg-second {
    background-color: var(--background-color-secondary);
}

.bg-second-10 {
    background-color: var(--secondary-10);
}

.bg-tertiary-10 {
    background-color: var(--tertiary-10);
}

.bg-black-80 {
    background-color: var(--text-color-80);
}

.bg-success-10 {
    background-color: var(--bs-success-bg-subtle);
}

.bg-bs-warning-bg-subtle {
    background-color: var(--bs-warning-bg-subtle);
}

.bg-alert-10 {
    background-color: var(--bs-danger-bg-subtle);
}

.bg-hugepro-vol1-10 {
    background-color: var(--hugepro-10);
}

.bg-cd-10 {
    background-color: var(--center-distribution-10);
}

.bg-hw-10 {
    background-color: var(--how-would-10);
}

.bg-rb-10 {
    background-color: var(--ranking-battle-10);
}

.bg-nv-10 {
    background-color: var(--nostalgic-vibes-10);
}

.bg-you-com-10 {
    background-color: var(--youtube-comment-10);
}

/* End of Background Color */

/* Border Radius */
.rounded-10 {
    border-radius: 10px;
}

.rounded-15 {
    border-radius: 15px;
}

.rounded-top-8 {
    border-radius: 8px 8px 0 0;
}

.rounded-bottom-8 {
    border-radius: 0 0 8px 8px;
}

/* End of Border Radius */

/* Component */

/* Button */
.btn-hero {
    margin-top: 30px;
    background-color: var(--primary);
    padding: 18px 60px;
    border-radius: 10px;
    font-weight: 700;
    color: var(--white);
    transition: all 0.5s ease-in;
}

.btn-hero:hover,
.btn-hero:active,
.btn-hero:active:focus {
    background-color: var(--primary-90);
    color: var(--white);
}

.btn-main {
    color: var(--white);
    background-color: var(--primary);
    font-weight: 600;
    border-radius: 10px;
    padding: 8px 10px;
}

.btn-main:hover,
.btn-main:active,
.btn-main:first-child:active {
    color: var(--white) !important;
    background-color: var(--primary) !important;
}

.btn-outline-main {
    color: var(--primary);
    padding: 13px 15px;
    font-weight: 600;
    border: solid 1px var(--primary);
}

.btn-outline-main:hover,
.btn-outline-main:active,
.btn-outline-main:first-child:active {
    background-color: transparent !important;
    color: var(--primary) !important;
}

.btn-upload-picture,
.btn-upload-picture:hover,
.btn-upload-picture:active,
.btn-upload-picture:first-child:active {
    font-size: 14px;
    color: var(--white);
    background-color: var(--primary-90);
    font-weight: 500;
    padding: 8px 10px;
}

.btn-remove-picture,
.btn-remove-picture:hover,
.btn-remove-picture:active,
.btn-remove-picture:first-child:active {
    font-size: 14px;
    border: 1px solid var(--text-color-80);
    color: var(--text-color-80);
    background-color: transparent;
    font-weight: 500;
    padding: 8px 10px;
}

.btn-light-border {
    padding: 8px 10px;
    font-weight: 600;
    font-size: 14px;
    color: var(--text-color);
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid var(--text-color-40);
}

.btn-light-border:hover {
    border-color: var(--text-color-40);
    color: var(--text-color);
}

.btn-alert-color {
    padding: 8px 10px;
    font-weight: 600;
    font-size: 14px;
    color: var(--white);
    background-color: var(--bs-danger);
    border-radius: 10px;
}
.btn-alert-color:hover,
.btn-alert:active:focus,
.btn-alert:active,
.btn-alert:first-child:active {
    background-color: var(--bs-danger) !important;
    color: var(--white) !important;
}

.btn-404 {
    display: inline-block;
    padding: 10px 20px;
    color: var(--white);
    font-weight: 600;
    background-color: var(--primary);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border-radius: 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-404:active,
.btn-404:first-child:active {
    background-color: var(--primary-90);
    color: var(--white);
}

.btn-default {
    background-color: var(--primary-10);
    color: var(--primary);
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
    width: 100px;
}

.btn-default:hover,
.btn-default:active:focus,
.btn-default:active,
.btn-default:first-child:active {
    background-color: var(--primary-10);
    color: var(--primary);
    cursor: default;
}

.btn-complete {
    background-color: var(--bs-success-bg-subtle);
    color: var(--bs-success);
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
    width: 100px;
}

.btn-complete:hover,
.btn-complete:active:focus,
.btn-complete:active,
.btn-complete:first-child:active {
    background-color: var(--bs-success-bg-subtle);
    color: var(--bs-success);
    cursor: default;
}

.btn-onprocess {
    background-color: var(--secondary-10);
    font-weight: 600;
    font-size: 12px;
    color: var(--secondary);
    border-radius: 10px;
    width: 100px;
}

.btn-onprocess:hover,
.btn-onprocess:active,
.btn-onprocess:active:focus,
.btn-onprocess:first-child:active {
    color: var(--secondary);
    background-color: var(--secondary-10);
    cursor: default;
}

.btn-pending {
    background-color: var(--bs-warning-bg-subtle);
    color: var(--bs-warning);
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
    width: 100px;
}

.btn-pending:hover,
.btn-pending:active,
.btn-pending:active:focus,
.btn-pending:first-child:active {
    background-color: var(--bs-warning-bg-subtle);
    color: var(--bs-warning);
    cursor: default;
}

.btn-rejected {
    background-color: var(--bs-danger-bg-subtle);
    color: var(--bs-danger);
    font-weight: 600;
    font-size: 12px;
    border-radius: 10px;
    width: 100px;
}

.btn-rejected:hover,
.btn-rejected:active,
.btn-rejected:active:focus,
.btn-rejected:first-child:active {
    background-color: var(--bs-danger-bg-subtle);
    color: var(--bs-danger);
    cursor: default;
}

/* Image */
.img-square {
    aspect-ratio: 1/1;
    object-fit: cover;
}

/* Card */
.border-card {
    border-radius: 10px;
    border: 1px solid var(--text-color-30);
    background: transparent;
    padding: 15px;
    transition: all 300ms;
}

.border-card:hover {
    box-shadow: 1px 1px 10px var(--primary-30);
}

/* End of Component */

/* Bootstrap Modified Style */

.dis {
    cursor: not-allowed;
    opacity: 0.5;
}

.dis:hover {
    color: var(--primary);
    border: solid 1px var(--primary);
    background-color: transparent;
}

input::placeholder,
textarea::placeholder,
option {
    color: var(--text-color-80);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

select option:checked,
select option:hover {
    background-color: var(--primary);
    color: var(--white);
}

input.form-control,
select.form-select,
textarea.form-control {
    background-color: var(--background-color-secondary);
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    caret-color: var(--primary);
    padding: 12px 10px;
    border-radius: 10px;
    border: 1px solid var(--text-color);
}

input.form-control:focus,
select.form-select:focus,
textarea.form-control:focus {
    color: var(--text-color);
}

select:hover,
select:focus {
    cursor: pointer;
}

select.filter-select {
    background-color: var(--background-color-secondary);
    color: var(--text-color);
    padding: 8px 30px 8px 10px;
    font-size: 14px;
    border: 1px solid var(--text-color-50);
    border-radius: 10px;
}

input.filter-search {
    padding: 8px 10px;
}

.form-control:focus,
.form-select:focus {
    border-color: var(--primary);
    box-shadow: 0px 0px 5px 2px rgba(101, 40, 247, 0.26);
}

.form-text {
    font-family: var(--secondary-font);
    margin: 5px 0 0 0;
    color: var(--text-color-90);
}

.is-invalid {
    background-color: var(--bs-danger-bg-subtle);
}

.invalid-feedback {
    margin: 5px 0 0 0;
}

.dropdown-menu .dropdown-item:active {
    background-color: var(--primary);
    color: var(--white);
}

.pagination > li.active > span {
    background-color: var(--primary);
    color: var(--white);
    border: var(--primary);
}

.pagination > li.page-item > a {
    color: var(--primary);
}

.accordion-button:focus {
    box-shadow: 0px 0px 5px 2px rgba(101, 40, 247, 0.26);
}

.accordion-button:not(.collapsed) {
    background-color: var(--primary-10);
}

.nav-pills .nav-link {
    border-radius: 10px;
}

.btn-close:focus {
    outline: 0;
    box-shadow: none;
    opacity: var(--bs-btn-close-focus-opacity);
}

/* End of Boostrap Modified Style */

/* Navbar */
.logo-navbar {
    font-weight: 700;
    font-size: 24px;
    margin-left: 10px;
    margin-top: 10px;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar a {
    color: var(--text-color);
}

.navbar-nav li a {
    font-weight: 500;
    font-size: 18px;
}

#navbarNav li a.active,
.mobile-nav a.active {
    color: var(--primary);
    font-weight: 600;
}

.nav-item a:hover,
.nav-link-mobile a:hover {
    color: var(--primary);
}

.dropdown-menu a:hover,
.dropdown-item:hover {
    background-color: var(--primary-10);
    border-radius: 10px;
}

.dropdown-item:hover {
    color: var(--primary);
}

.dropdown-item:active {
    color: var(--white);
}

#theme-switcher {
    cursor: pointer;
}

/* Navbar Mobile */

.nav-link-mobile a {
    color: var(--text-color-80);
}

.mobile-nav {
    display: none;
    font-size: 10px;
    font-weight: 500;
}

.mobile-menu {
    cursor: pointer;
    color: var(--text-color);
}

.mobile-menu:hover,
.mobile-menu:active {
    color: var(--primary);
}

.content-mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: var(--background-color-secondary);
    padding: 5px;
    min-width: 125px;
    z-index: 1;
    bottom: 75px;
    right: 15px;
    border-radius: 10px;
    font-size: 12px;
}

.content-mobile-menu a,
.content-mobile-menu button {
    padding: 10px;
    color: var(--text-color);
}

.content-mobile-menu button {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.content-mobile-menu a:hover {
    color: var(--primary);
}

.content-mobile-menu button:hover,
.content-mobile-menu button:active {
    color: var(--primary);
    border: 1px solid var(--white);
}

.show-mobile-menu {
    display: flex;
}

/* Penutup Navbar */

/* Footer */
#footer {
    margin-top: 100px;
    background-color: var(--primary-10);
}

#footer ul {
    list-style: none;
    padding: 0;
}

#footer ul li a {
    color: var(--text-color-80);
}

#footer ul li a:hover {
    color: var(--primary);
}

/* Penutup Footer */

/* Main Blade */
main {
    margin: 100px 0;
}

/* End of Main Blade */

/* Home Page */
.hero-welcome {
    font-weight: 600;
    letter-spacing: 0.19em;
    color: var(--text-color);
}

.hero-welcome strong {
    font-weight: 700;
    display: block;
}

.hero-h2 {
    font-style: normal;
    font-weight: 500;
    margin: 25px 0;
    color: var(--text-color);
}

.hero-text {
    font-family: var(--secondary-font);
    font-size: 24px;
    color: var(--text-color-80);
    margin: 0;
}

.img-hero {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
}

#socmed-landing-page,
#our-content-lp,
#upcoming-schedule-lp {
    margin: 100px 0;
}

.socmed-home-text {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.25em;
}

#socmed-landing-page a {
    text-decoration: none;
    color: var(--text-color);
}

.link-show-all {
    color: var(--text-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.link-show-all:hover {
    color: var(--primary);
}

#upcoming-schedule-lp .border-card:hover {
    box-shadow: none;
}

#upcoming-display-mobile {
    display: none;
}

/* Penutup Home Page */

/* Projects Page */

.project-text {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 0;
    color: var(--text-color);
}

.table-card,
.detail-card,
.req-list-section,
.ai-models-container,
.verification-container,
.profile-container {
    background-color: var(--background-color-secondary);
    padding: 25px;
    border-radius: 10px;
}

.table-card h3 {
    font-weight: 600;
    color: var(--text-color);
}

.table-card p {
    font-family: var(--secondary-font);
    font-size: 18px;
    color: var(--text-color);
}

.projects-table th,
.req-list-table th {
    font-weight: 600;
    font-size: 14px;
    color: var(--text-color);
}

.projects-table tbody td,
.projects-table tbody td p {
    font-size: 14px;
    font-family: var(--main-font);
}

table td.title-with-progress {
    width: 280px;
    min-width: 200px;
    max-width: max-content;
}

.table-mobile {
    display: none;
}

.table-content-mobile {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid var(--text-color-20);
}

.table-content-mobile p {
    font-size: 14px;
    font-family: var(--main-font);
}

.table {
    --bs-table-bg: var(--background-color-secondary);
}

/* Project Types Page */
.breadcrumb a {
    text-decoration: none;
    color: var(--text-color-80);
}

.breadcrumb a:hover {
    color: var(--primary);
}

.breadcumb-active {
    color: var(--text-color);
    font-weight: 500;
}

#project-type-table-section {
    scroll-behavior: smooth;
    scroll-margin: 90px;
}

.non-project-hero {
    background-color: var(--non-project-10);
    border-radius: 10px;
    margin: 0 0 30px 0;
    padding: 25px;
}

.non-project-text {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--non-project-100);
}

.non-project-hero h2 {
    font-weight: 700;
    font-size: 36px;
    color: var(--non-project-100);
}

.btn-non-project,
.btn-non-project:hover,
.btn-non-project:active,
.btn-non-project:active:focus,
.btn-non-project:first-child:active {
    border: 1px solid var(--non-project-100);
    color: var(--non-project-100);
    font-weight: 500;
}

.huge-project-vol1-hero {
    background-color: var(--hugepro-10);
    border-radius: 10px;
    margin: 0 0 30px 0;
    padding: 25px 13px;
}

.huge-project-vol1-hero h2 {
    font-weight: 700;
    font-size: 36px;
    color: var(--hugepro);
}

.huge-project-vol1-text {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--hugepro);
}

.btn-huge-project-vol1,
.btn-huge-project-vol1:hover,
.btn-huge-project-vol1:active,
.btn-huge-project-vol1:active:focus,
.btn-huge-project-vol1:first-child:active {
    border: 1px solid var(--hugepro);
    color: var(--hugepro);
    font-weight: 500;
}

.nv-project-hero {
    background-image: url("../img/nv_cover_grad.png");
    background-size: cover;
    border-radius: 10px;
    background-position: 0px 0px;
    min-height: 300px;
    margin: 0 0 30px 0;
    padding: 25px 13px;
}

.nv-project-hero h2 {
    font-weight: 700;
    font-size: 36px;
    color: var(--white);
}

.nv-project-text {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--white);
}

.btn-nv-project,
.btn-nv-project:hover,
.btn-nv-project:active,
.btn-nv-project:active:focus,
.btn-nv-project:first-child:active {
    border: 1px solid var(--white);
    color: var(--white);
    font-weight: 500;
}

.youtube-project-hero {
    background-color: var(--youtube-comment-10);
    border-radius: 10px;
    margin: 0 0 30px 0;
    padding: 25px 13px;
}

.youtube-project-hero h2 {
    font-weight: 700;
    font-size: 36px;
    color: var(--youtube-comment);
}

.youtube-project-text {
    font-family: var(--secondary-font);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: var(--youtube-comment);
}

.btn-youtube-project,
.btn-youtube-project:hover,
.btn-youtube-project:active,
.btn-youtube-project:active:focus,
.btn-youtube-project:first-child:active {
    border: 1px solid var(--youtube-comment);
    color: var(--youtube-comment);
    font-weight: 500;
}

/* Single Project */

.thumbnail {
    border-radius: 10px;
    opacity: 0.9;
    object-fit: cover;
}

/* Penutup Projects */

/* Request List Page */

.card-analytics {
    background-color: var(--background-color-secondary);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    height: 100%;
    min-height: min-content;
    max-height: max-content;
    border-radius: 10px;
}

.card-head {
    margin-bottom: 5px;
}

.card-head p {
    margin-bottom: 5px;
    color: var(--text-color);
}

.card-body h2 {
    margin-bottom: 5px;
    color: var(--text-color);
    font-weight: 700;
}

.card-body p {
    color: var(--text-color-80);
    margin: 0;
    font-size: 14px;
}

.card-icon i {
    font-size: 80px;
    color: var(--text-color);
}

.req-list-section h2 {
    font-size: 36px;
    font-weight: 600;
}

.req-list-section h3 {
    font-size: 24px;
    font-weight: 600;
}

.req-list-table td {
    font-size: 12px;
}

.req-list-section .nav-link {
    color: var(--text-color-80);
}

.req-list-section .nav-link:hover,
.req-list-section .nav-item button.active {
    color: var(--primary);
}

/* Penutup Request List */

/* Gallery */
.search-gallery-form .input-group i {
    cursor: default;
}

.gallery-cards-head h3 {
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 0;
}

.gallery-cards-head {
    margin-bottom: 10px;
}

.gallery-cards-head a {
    text-decoration: none;
    color: var(--text-color);
}

.gallery-cards-head a:hover,
.gallery-cards-head span:hover {
    color: var(--primary);
}

.filter-clear a:hover {
    color: var(--bs-danger);
}

.category-card {
    border-radius: 10px;
    padding: 15px;
}

.category-card i {
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.category-card h5 {
    font-size: 16px;
    font-family: var(--secondary-font);
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--text-color);
}

.category-card p {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: var(--text-color);
}

.artist-card p {
    font-weight: 600;
    font-size: 14px;
    margin: 5px 0 0 0;
}

.artist-card span {
    font-family: var(--secondary-font);
    font-weight: 600;
    font-size: 14px;
}

.artist-card a {
    color: var(--text-color);
    text-decoration: none;
}

.artist-card a:hover {
    color: var(--text-color);
}

.artist-card a:hover img {
    opacity: 1;
}

.artist-image {
    aspect-ratio: 1/1;
    object-fit: cover;
    opacity: 0.9;
}

.video-card a {
    text-decoration: none;
}

.video-card a:hover img {
    opacity: 1;
}

.video-desc-card {
    background-color: var(--background-color-secondary);
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

.video-desc-card h4 {
    font-weight: 600;
    color: var(--text-color);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /*number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    margin-bottom: 5px;
}

.video-desc-card p.date-text {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color-80);
    margin-bottom: 10px;
}

.video-desc-card span.type-tag {
    font-family: var(--secondary-font);
    font-size: 14px;
    font-weight: 600;
    color: var(--text-color-80);
}

.video-desc-card span.type-tag:hover {
    color: var(--secondary);
}

/* Artist Page */
.artist-about {
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color);
    margin-bottom: 15px;
}

/* Video Page */
.detail-video-description {
    background-color: var(--background-color-secondary);
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

.thumbnail-mini {
    border-radius: 10px 10px 0 0;
    opacity: 0.9;
    object-fit: cover;
}

.related-vid-container {
    background-color: var(--background-color-secondary);
    padding: 10px;
    border-radius: 0 0 10px 10px;
    height: 100%;
}

.related-vid-container h5.text-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
}

/* Penutup Gallery */

/* AI Models Page */

.list-ai-model img {
    width: 100px;
    min-width: 50px;
}

/* Penutup AI Models Page */

/* Login & Sign Up Page */
section#login,
section#sign-up {
    margin-top: 100px;
}

.btn-primary-form {
    background-color: var(--primary);
    font-weight: 600;
    font-size: 18px;
    color: var(--white);
    padding: 10px 0;
    border-radius: 10px;
    transition: all 300ms;
}

.btn-primary-form:hover {
    color: var(--white);
    background-color: var(--primary);
}

.btn-secondary-form {
    background-color: var(--primary-10);
    color: var(--primary);
    font-weight: 600;
    font-size: 18px;
    padding: 10px 0;
    border-radius: 10px;
    transition: all 300ms;
}

.btn-secondary-form:hover {
    background-color: var(--primary-20);
    color: var(--primary);
}

.btn-border-form {
    background-color: transparent;
    border: 1px solid var(--primary);
    color: var(--primary);
    font-weight: 400;
    font-size: 18px;
    padding: 10px 0;
    border-radius: 10px;
    transition: all 300ms;
}

.btn-border-form:hover {
    border: 1px solid var(--primary);
    color: var(--primary);
}

.btn-border-30 {
    border: 1px solid var(--text-color-30);
    background-color: transparent;
    color: var(--text-color);
}

span.input-group-text {
    color: var(--text-color);
    background-color: var(--background-color-secondary);
    border: 1px solid var(--text-color);
}

span.input-group-text i {
    cursor: pointer;
}
/* Penutup Login & Sign Up Page */

/* Profile Page  */

.profile-preview {
    max-width: 150px;
}

.profile-container button {
    width: auto;
}

/* End of Profile Page  */

/* My Requests Page */
#tab-requests .nav-link {
    color: var(--primary);
}

#tab-requests .nav-link.active {
    color: white;
    background-color: var(--primary);
}
/* End of My Requests Page */

@media only screen and (max-width: 369.9px) {
    /* Requests */
    .text-responsive {
        font-size: 10px !important;
    }
}

/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 575.9px) {
    /* Components */
    .ml-sm-0 {
        margin-left: 0;
    }
    .mb-sm-10 {
        margin-bottom: 10px;
    }

    .fs-sm-12 {
        font-size: 12px;
    }

    .fs-sm-14 {
        font-size: 14px;
    }

    .fs-sm-18 {
        font-size: 18px;
    }

    .fs-sm-16 {
        font-size: 16px;
    }

    .fs-sm-24 {
        font-size: 24px;
    }

    /* Navigation */

    /* Home */
    #hero-landing-page {
        margin: 100px 0;
    }

    .hero-welcome {
        font-size: 36px;
        text-align: center;
        margin-top: 30px;
        letter-spacing: normal;
    }

    .hero-h2 {
        font-size: 24px;
        margin-top: 15px;
        text-align: center;
    }

    .hero-text {
        text-align: center;
        font-size: 18px;
    }

    .mb-sm-30 {
        margin-bottom: 30px;
    }

    .header-table-upcoming {
        display: none;
    }

    .mobile-nav {
        display: inherit;
    }
    
    /* Footer */
    .py-footer {
        padding-top: 50px;
        padding-bottom: 110px;
    }

    .form-container,
    .form-request-container {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        padding: 30px 0;
    }

    /* Penutup Home */

    .table-card,
    .req-list-section,
    .non-project-hero {
        padding: 15px;
    }

    /* Gallery */
    .detail-video-description h3 {
        font-size: 18px;
    }
    /* End of Gallery */

    /* AI-Model Page */
    .list-ai-model img {
        width: 50px;
        min-width: 50px;
    }

    /* Requests Page */
    #tab-requests button.nav-link {
        padding: 4px 0;
    }
    /* End of Requests Page */
}

/* Responsive untuk Mobile dan Tablet */
/* Medium devices (landscape tablets, 768px kebawah) */
@media only screen and (max-width: 767.9px) {
    /* Componenet */

    .mb-md-10 {
        margin-bottom: 10px;
    }

    .mb-md-15 {
        margin-bottom: 15px;
    }

    .fs-md-18 {
        font-size: 18px !important;
    }

    /* Projects Page */
    .table-mobile {
        display: block;
    }

    /* Project Types Page */
    .nv-project-hero {
        background-position: -100px 0px;
    }

    /* Single Project */
    .detail-card {
        border-radius: 0 0 10px 10px;
    }

    .thumbnail {
        border-radius: 10px 10px 0 0;
    }

    /* Requests */
    .text-responsive {
        font-size: 12px;
    }

    /* Profile Page */
    .profile-container button {
        width: 100%;
    }
}

/* Large devices (laptops/desktops, 992px ke bawah) */
@media only screen and (max-width: 991.9px) {
    .fs-lg-14 {
        font-size: 14px;
    }

    /* Component */
    .mb-lg-15 {
        margin-bottom: 15px;
    }

    .mb-lg-30 {
        margin-bottom: 30px;
    }

    /* Home */
    .hero-welcome {
        text-align: center;
        margin-top: 30px;
    }

    .hero-h2,
    .hero-text {
        text-align: center;
    }

    .btn-hero {
        display: grid;
    }

    #upcoming-display-mobile {
        display: grid;
    }

    #upcoming-display-desktop {
        visibility: hidden;
        height: 0;
    }

    /* Projects Page */
    .project-text {
        font-family: var(--secondary-font);
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
    }

    /* Penutup Projects Page */
}

/* Extra large devices (large laptops and desktops, 1200px and below) */
@media only screen and (min-width: 1200px) {
    /* Project Types Page */
    .nv-project-hero {
        background-position: 0px -150px;
    }

    /* Video Detail Page */

    .thumbnail-mini {
        border-radius: 10px 0 0 10px;
        opacity: 0.9;
        object-fit: cover;
    }

    .related-vid-container {
        border-radius: 0 10px 10px 0;
        height: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 768px and up) */
@media only screen and (min-width: 768px) {
    /* Login & Sign Up Page */
    .form-container {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        padding: 30px 0;
        background-color: var(--background-color-secondary);
        border-radius: 10px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    }
    /* Penutup Login & Sign Up Page */

    /* Request Form */
    .form-request-container {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        padding: 30px;
        background-color: var(--background-color-secondary);
        border-radius: 10px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    }
}
